<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ account.institution }} | {{ account.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>
<body>
    <div class="container">
      <div class="row">
          <div class="column">Account Institution</div>
          <div class="column">{{ account.institution() }}</div>
      </div>
      <div class="row">
          <div class="column">Account Name</div>
          <div class="column">{{ account.name() }}</div>
      </div>
      <div class="row">
          <div class="column">Account Owner</div>
          <div class="column">{{ account.owner() }}</div>
      </div>
      <div class="row">
          <div class="column">Account Investment</div>
          <div class="column">{{ account.investment() }}</div>
      </div>
      <div class="row">
          <div class="column">Account Term</div>
          <div class="column">{{ account.term() }}</div>
      </div>
      <div class="row">
          <div class="column">Account Type</div>
          <div class="column">{{ account.account_type() }}</div>
      </div>

      <div class="row">
          <div class="column">Open Date</div>
          <div class="column">{{ account.open_date() }}</div>
          <div class="column">
              <form method="post" action="/update_open_date" id="update-open-date">
                  <fieldset>
                      <input type="hidden" name="account" value="{{ account.name() }}" />
                      <input type="hidden" name="institution" value="{{ account.institution() }}" />
                      <input type="hidden" name="owner" value="{{ account.owner() }}" />
                      <input type="hidden" name="investment" value="{{ account.investment() }}" />
                      <input type="hidden" name="asset" value="{{ account.account_type() }}" />
                      <input type="text" name="open_date" form="update-open-date" />
                  </fieldset>
              </form>
          </div>
          <div class="column">
              <input form="update-open-date" type="submit" value="Update Open Date" />
          </div>
      </div>

      <div class="row">
          <div class="column">Update Frequency (in Days)</div>
          <div class="column">{{ account.update_frequency() }}</div>
          <div class="column">
              <form method="post" action="/update_frequency" id="update-frequency">
                  <fieldset>
                      <input type="hidden" name="account" value="{{ account.name() }}" />
                      <input type="hidden" name="institution" value="{{ account.institution() }}" />
                      <input type="hidden" name="owner" value="{{ account.owner() }}" />
                      <input type="hidden" name="investment" value="{{ account.investment() }}" />
                      <input type="hidden" name="asset" value="{{ account.account_type() }}" />
                      <input type="text" name="frequency" form="update-frequency" />
                  </fieldset>
              </form>
          </div>
          <div class="column">
              <input form="update-frequency" type="submit" value="Update Frequency" />
          </div>
      </div>

    </div>
</body>
</html>
