<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Net Worth vs. Time</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
    <style>
      .axis {
        font: 14px sans-serif;
      }
      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
      }
    </style>
</head>
<body>
    <div class="container">
        <h2>Net Worth vs. Time</h2>
        <form method="get">
            <div class="row">
                <div class="column">
                    <span>Start Date: <input type="text" name="start"></span>
                </div>
                <div class="column">
                    <span>End Date: <input type="text" name="end"></span>
                </div>
                <div class="column">
                    <span><br /><input type="submit" value="Submit"></span>
                </div>
            </div>
        </form>
    </div>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="static/net_worth_vs_time.js"></script>
</body>
</html>
